# Entornos virtuales
venv/
.env/
*.env

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Configuración de IDEs y editores de texto
.vscode/
.idea/
*.swp
*.swo

# Archivos de logs y debugging
*.log
*.pot
*.out
*.cover
*.npy

# Archivos generados por Django
staticfiles/
media/
db.sqlite3

# Archivos temporales y backups
*.bak
*.tmp
*.orig
*.~*

# Archivos de migraciones innecesarios
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# Node.js (si usas npm/yarn para frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de Docker (si aplica)
docker-compose.override.yml
